<div class="flex justify-between items-center">
  <h2 class="text-3xl font-semibold tracking-tight text-foreground">Overview</h2>
  <button type="button" (click)="saveDatasetInJsonl()" class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground h-9 px-4 py-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file h-4 w-4 me-2"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/></svg>
    Exportar
  </button>
</div>

<div class="grid gap-4 md:grid-cols-2 lg:grid-cols-2 mt-6">
  <div class="rounded-lg border border-input bg-card text-card-foreground shadow-sm">
    <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
      <h3 class="tracking-tight text-sm font-medium">All News</h3>
    </div>
    <div class="p-6 pt-0">
      <div class="text-2xl font-bold">{{ all_news ? all_news.count : 0 }}</div>
      <p class="text-xs text-muted-foreground"></p>
    </div>
  </div>
  <div class="rounded-lg border border-input bg-card text-card-foreground shadow-sm">
    <div class="p-6 flex flex-row items-center justify-between space-y-0 pb-2">
      <h3 class="tracking-tight text-sm font-medium">Environment News</h3>
    </div>
    <div class="p-6 pt-0">
      <div class="text-2xl font-bold">{{ news ? news.count : 0 }}</div>
      <p class="text-xs text-muted-foreground"></p>
    </div>
  </div>
</div>

<h2 class="text-xl font-medium tracking-tight mt-6 mb-3 text-foreground">Last fine-tune <span class="text-xl font-medium tracking-tight mt-6 mb-3 text-muted-foreground">{{ fineTuneData?.model }}</span></h2>

<div class="flex flex-col-reverse lg:flex-row">
  <div class="h-[16rem!important]">
    <canvas #pieChart></canvas>
  </div>    
  <div class="h-[20rem!important] w-full p-0 lg:ps-6">
    <canvas #mainChart></canvas>
  </div>
</div>

<h2 class="text-xl font-medium tracking-tight mt-6 text-foreground">Latest News</h2>
<div class="grid gap-4 md:grid-cols-3 lg:grid-cols-3 mt-6" *ngIf="news">
  <a class="flex flex-col items-start border-input justify-between gap-2 rounded-lg border p-3 text-left text-sm transition-all hover:bg-accent"
    *ngFor="let news of news.items"
    href="{{ news.link }}"
    target="_blank"
    >
    <div class="flex w-full flex-col gap-1">
      <div class="flex flex-col items-start">
        <div class="flex items-center gap-2">
          <div class="font-semibold text-foreground">{{ news.titulo }}</div>
        </div>
        <div class="ml-auto text-xs text-foreground">{{ news.data_publicacao }}</div>
      </div>
    </div>
    <div class="line-clamp-2 text-sm text-muted-foreground">{{ news.introducao }}</div>
    <div class="flex items-center gap-2">
      <div class="inline-flex items-center rounded-sm border px-2.5 py-0.5 text-xs font-medium transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground hover:bg-primary/80">
        {{ news.tipo }}
      </div>
    </div>
  </a>
</div>
