<div class="p-4 border-b border-input fixed top-0 left-0 w-full flex justify-between bg-background" style="z-index: 10;" *ngIf="variant == 'panel'">
  <div class="hidden md:flex lg:flex">
    <brn-popover [state]="state()" (stateChanged)="stateChanged($event)" sideOffset="5" closeDelay="100">
      <button id="edit-profile" variant="outline" brnPopoverTrigger hlmBtn class="w-[230px] text-foreground">
          <hlm-avatar variant="small" class="h-5 w-5">
              <img src="{{ currentUser.photoURL ?? 'https://img.freepik.com/free-vector/realistic-grainy-texture-design_23-2149252552.jpg?size=626&ext=jpg&ga=GA1.1.1395880969.1709942400&semt=ais' }}" alt="spartan logo. Resembling a spartanic shield" hlmAvatarImage />
              <span class="bg-black text-white" hlmAvatarFallback>MA</span>
          </hlm-avatar>
          <span class="me-auto ms-2 text-foreground">
            {{ currentUser.displayName }}
          </span>
          <hlm-icon size="sm" name="lucideChevronsUpDown" />
      </button>
      <brn-cmd *brnPopoverContent="let ctx" hlmPopoverContent hlm class="w-[230px] p-0">
          <hlm-cmd-input-wrapper>
              <hlm-icon name="lucideSearch" />
              <input placeholder="Search Team..." brnCmdInput hlm />
          </hlm-cmd-input-wrapper>
          <div *brnCmdEmpty hlmCmdEmpty>No results found.</div>
          <brn-cmd-list hlm>
              <brn-cmd-group hlm>
                  <span class="text-xs text-muted-foreground font-medium py-1.5 px-2">Conta Pessoal</span>
                  <button
                      brnCmdItem
                      [value]="currentUser.email"
                      (selected)="commandSelected(currentUser.email)"
                      hlm
                  >
                      <hlm-avatar variant="small" class="h-4 w-4 me-2">
                          <img src="{{ currentUser.photoURL ?? 'https://img.freepik.com/free-vector/realistic-grainy-texture-design_23-2149252552.jpg?size=626&ext=jpg&ga=GA1.1.1395880969.1709942400&semt=ais' }}" alt="spartan logo. Resembling a spartanic shield" hlmAvatarImage />
                          <span class="bg-black text-white" hlmAvatarFallback>MA</span>
                      </hlm-avatar>
                      {{ currentUser.displayName }}
                  </button>
              </brn-cmd-group>
          </brn-cmd-list>
      </brn-cmd>
  </brn-popover>
  </div>
  
  <nav class="flex items-center space-x-4 lg:space-x-6 md:mx-6 lg:mx-6 me-auto">
    <a class="text-sm font-medium transition-colors hover:text-primary cursor-pointer text-nowrap" 
      *ngFor="let item of navItems" 
      [ngClass]="item.active ? 'text-foreground' : 'text-muted-foreground'" 
      [href]="item.path"
      >
      {{ item.label }}
    </a>
  </nav>
  <div class="flex w-full items-center justify-end">
      <hlm-avatar variant="medium" class="h-8 w-8 me-2" [brnMenuTriggerFor]="menu">
          <img src="{{ currentUser.photoURL ?? 'https://img.freepik.com/free-vector/realistic-grainy-texture-design_23-2149252552.jpg?size=626&ext=jpg&ga=GA1.1.1395880969.1709942400&semt=ais' }}" alt="spartan logo. Resembling a spartanic shield" hlmAvatarImage />
          <span class="bg-black text-white" hlmAvatarFallback>MA</span>
      </hlm-avatar>
    </div>
    <ng-template #menu>
      <hlm-menu class="w-56">
        <hlm-menu-label>My Account</hlm-menu-label>
        <hlm-menu-separator />
        <hlm-menu-group>
          <button hlmMenuItem>
            <hlm-icon name="lucideUser" hlmMenuIcon />
            <span>Profile</span>
            <hlm-menu-shortcut>⇧⌘P</hlm-menu-shortcut>
          </button>

          <button hlmMenuItem>
            <hlm-icon name="lucideCog" hlmMenuIcon />
            <span>Settings</span>
            <hlm-menu-shortcut>⌘S</hlm-menu-shortcut>
          </button>

          <button hlmMenuItem>
            <hlm-icon name="lucideKeyboard" hlmMenuIcon />
            <span>Keyboard Shortcuts</span>
            <hlm-menu-shortcut>⌘K</hlm-menu-shortcut>
          </button>
        </hlm-menu-group>

        <hlm-menu-separator />

        <hlm-menu-group>
          <button hlmMenuItem>
            <hlm-icon name="lucideUserCircle" hlmMenuIcon />
            <span>Team</span>
            <hlm-menu-shortcut>⌘B</hlm-menu-shortcut>
          </button>

          <!-- <button hlmMenuItem [brnMenuTriggerFor]="theme">
            <hlm-icon name="lucidePalette" hlmMenuIcon />
            <span>Theme</span>
            <hlm-menu-item-sub-indicator />
          </button> -->

          <button hlmMenuItem>
            <hlm-icon name="lucidePlus" hlmMenuIcon />
            <span>New Team</span>
            <hlm-menu-shortcut>⌘+T</hlm-menu-shortcut>
          </button>
        </hlm-menu-group>

        <hlm-menu-separator />

        <hlm-menu-group>
          <button hlmMenuItem>
            <hlm-icon name="lucideGithub" hlmMenuIcon />
            <span>Github</span>
          </button>

          <button hlmMenuItem>
            <hlm-icon name="lucideHelpCircle" hlmMenuIcon />
            <span>Support</span>
          </button>

          <button hlmMenuItem disabled>
            <hlm-icon name="lucideCode" hlmMenuIcon />
            <span>API</span>
          </button>
        </hlm-menu-group>

        <hlm-menu-separator />

        <button hlmMenuItem (click)="logout()">
          <hlm-icon name="lucideLogOut" hlmMenuIcon />
          <span>Logout</span>
          <hlm-menu-shortcut>⇧⌘Q</hlm-menu-shortcut>
        </button>
      </hlm-menu>
    </ng-template>

    <!-- <ng-template #theme>
      <hlm-sub-menu>
        <button hlmMenuItem (click)="toggleMode(true)">
          <hlm-icon name="lucideSun" hlmMenuIcon />
          Light
        </button>

        <button hlmMenuItem (click)="toggleMode(false)">
          <hlm-icon name="lucideMoon" hlmMenuIcon />
          Dark
        </button>
        <hlm-menu-separator />
        <button hlmMenuItem>
          <hlm-icon name="lucideSettings" hlmMenuIcon />
          <span>System</span>
        </button>
      </hlm-sub-menu>
    </ng-template> -->
</div>

<div class="fixed top-0 w-full bg-background/0 backdrop-blur-xl z-10" *ngIf="variant == 'public'">
  <div class="w-full bg-black text-white flex items-center justify-center h-8">
    <p class="text-center text-sm font-medium transition-colors">We're working to lauch beta. Soon available.</p>
  </div>
  <nav class="flex items-center justify-between space-x-4 lg:space-x-6 w-full relative p-6">
    <a class="text-sm font-medium transition-colors hover:text-primary flex items-center gap-2" href="/">
      <img src="assets/img/Logomark.png" alt="" width="34" height="34">
      <span class="text-lg font-semibold text-white">Ladge</span>
    </a>
    <div class="flex items-center space-x-4 ms-auto">
      <a class="text-sm font-medium text-white transition-colors hover:underline" href="/auth/login">Login</a>
    </div>
  </nav>
</div>