<div class="flex align-items-center justify-between">
  <h2 class="text-3xl font-semibold tracking-tight text-foreground">Repositories</h2>
  <button hlmBtn variant="outline" align="end" [brnMenuTriggerFor]="menu">
    <hlm-icon name="lucideGitPullRequestClosed" hlmMenuIcon />
    View
  </button>
  <ng-template #menu>
    <hlm-menu class="w-56">
      <hlm-menu-label>Privacy</hlm-menu-label>
      <hlm-menu-separator />
      <hlm-menu-group>
        <button hlmMenuItem class="cursor-pointer" (click)="filterCommitsByPrivacy()">
          <hlm-icon name="lucideCircle" hlmMenuIcon />
          <span>All</span>
        </button>
      </hlm-menu-group>
      <hlm-menu-separator />
      <hlm-menu-group>
        <button hlmMenuItem class="cursor-pointer" (click)="filterCommitsByPrivacy(true)">
          <hlm-icon name="lucideLock" hlmMenuIcon />
          <span>Private</span>
        </button>

        <button hlmMenuItem class="cursor-pointer" (click)="filterCommitsByPrivacy(false)">
          <hlm-icon name="lucideEye" hlmMenuIcon />
          <span>Open</span>
        </button>
      </hlm-menu-group>
    </hlm-menu>
  </ng-template>
</div>
<div class="grid gap-4 md:grid-cols-3 lg:grid-cols-3 mt-6" *ngIf="repos">
  <div class="text-card-foreground bg-white rounded-lg border border-gray-200 shadow-sm hover:shadow-lg cursor-pointer transition-all" data-id="1"
    data-v0-t="card" *ngFor="let repo of repos">
    <div class="flex space-y-1.5 flex items-center justify-between p-4 border-b border-gray-200" data-id="2">
      <div class="flex items-center space-x-2" data-id="3">
        <div class="w-8 h-8 rounded-full overflow-hidden">
          <img src="{{ repo.owner.avatar_url }}" alt="" class="w-full h-full">
        </div>
        <div data-id="5">
          <h3 class="whitespace-nowrap tracking-tight text-sm font-semibold" data-id="6">{{ repo.name }}</h3>
          <p class="text-xs text-gray-500" data-id="7">{{ repo.full_name }}</p>
        </div>
      </div>
      <div class="flex items-center space-x-1" data-id="8">
        <button hlmBtn variant="link" align="end" [brnMenuTriggerFor]="menu" class="p-0 text-muted-foreground">
          <hlm-icon name="lucideMoreVertical" hlmMenuIcon />
        </button>
        <ng-template #menu>
          <hlm-menu class="w-24">
            <hlm-menu-group>
              <button hlmMenuItem class="cursor-pointer" (click)="href(repo)">
                <hlm-icon name="lucideArrowUpRight" hlmMenuIcon />
                <span>Open</span>
              </button>
            </hlm-menu-group>
          </hlm-menu>
        </ng-template>
      </div>
    </div>
    <div class="p-4" data-id="11" *ngIf="repo.lastCommit">
      <div class="flex items-start justify-between" data-id="12">
        <span class="text-xs text-gray-700 p-2 px-4 rounded-full bg-accent" data-id="18" *ngIf="repo.lastCommit?.commit?.message">
          {{ repo.lastCommit?.commit?.message }}
        </span>
      </div>
      <div class="mt-2" data-id="17">
        <div class="flex items-center space-x-1" data-id="13">
          <span class="text-xs text-gray-700" data-id="18">
            <span class="text-xs text-gray-500" data-id="16">{{ repo.lastCommit?.commit?.author?.date | relativeTime }}</span>
            <span class="text-xs text-foreground" data-id="17">on</span>
          </span>
          <hlm-icon name="lucideGitBranch" hlmMenuIcon class="m-0 text-foreground" />
          <span class="text-xs text-foreground" data-id="15">{{ repo.default_branch }}</span>
        </div>
      </div>
    </div>
    <div class="p-4" data-id="11" *ngIf="repo.lastCommit == null">
      <div class="flex items-center justify-center" data-id="12">
        <span class="text-xs text-gray-700" data-id="18">
          No commits
        </span>
      </div>
    </div>
  </div>
</div>